
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/fonts.scss' as *;
 @use '../../styles//partials/mixins.scss' as *;

 .video {

    &__detail {
        padding: 0 $mobile-padding;
        @include tablet {
            padding: 0 $tablet-side-padding;
        }
        @include desktop {
            margin: 0;
            padding: 0;

        }
    }

    &__title {
        @include mobilePageHeader;
        padding: 1.5rem 0 $mobile-padding 0;
        border-bottom: 1px solid $mercury;

        @include tablet {
            border: none;
            @include pageHeader;
            padding: $tablet-side-padding 0 $desktop-tablet-padding 0;
        }
    }

    &__info {
        @include flex(row, none, space-between);
        border-bottom: 1px solid $mercury;
        padding-bottom: $mobile-padding;
        color: $silver;
        @include mobileBodyCopy;

        @include tablet {
            @include bodyCopy;
        }
        @include desktop {
            padding-right: $tablet-side-padding;
        }
    }

    &__channelAndDate {
        display: flex;
        flex-direction: column;
        
        @include tablet {
            flex-direction: row;
        }
    }

    &__menu {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__channel {
        @include mobileSubheader;
        color: $brainFlix-Black; //not sure

        @include tablet {
            padding-right: 1.5rem;
            @include subheader;

        }
    }
    &__like {
        display: flex;
        @include tablet {
            padding: 0 0 0 1.5rem;
        }
    }
    
    &__view {
        display: flex;
    }

    &__like--number, &__view--number {
        padding: 0 0.5rem;;

    }

    &__timestamp, &__channel, &__view, &__like {
        padding-top: 1rem;
    }

    &__description {
        @include mobileBodyCopy;
        padding: $mobile-padding 0;
        @include tablet {
            @include bodyCopy;
            padding: $desktop-tablet-padding 0 $tablet-side-padding 0;
        }
        @include desktop {
            padding-right: $tablet-side-padding;
        }
    }
}